* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: 'Source Sans 3', sans-serif;
}

/* TYPOGRAPHY */
.text-regular {
    font-weight: 400;
    font-size: 12px;
}

.text-bold {
    font-weight: 600;
    font-size: 13px;
}

p {
    margin: 0;
}

/* LAYOUT */
.container {
    margin: 0 auto;
    max-width: 375px;
}

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #C6C6C6;
    padding: 0 10px;
}

.post-header {
    display: flex;
    margin: 10px;
}

/* IMAGES */
.logo {
    width: 110px;
    height: auto;
    margin-top: 5px;
}

.user-avatar {
    width: 40px;
    height: auto;
    padding-top: 10px;
}

.profile-photo {
    border-radius: 50%;
    width: 34px;
    margin-right: 7px;
}

.post {
    max-width: 100%;
}