* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: 'Source Sans 3', sans-serif;
    background-color: #e8e7e7;
}

/* TYPOGRAPHY */
.text-regular {
    font-weight: 400;
    font-size: 12px;
}

.text-bold {
    font-weight: 600;
    font-size: 13px;
}

p {
    margin: 0;
}

/* LAYOUT */
.container {
    margin: 0 auto;
    max-width: 375px;
    background-color: #FFF;
}

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #C6C6C6;
    padding: 0 10px;
}

.post-header {
    display: flex;
    margin: 10px;
}

/* IMAGES */
.logo {
    width: 110px;
    height: auto;
    margin-top: 5px;
}

.user-avatar {
    width: 43px;
    height: auto;
    padding-top: 10px;
}

.profile-photo {
    border-radius: 50%;
    width: 34px;
    margin-right: 7px;
}

.post {
    max-width: 100%;
}

.post-action-icons {
    margin-top: 5px;
    padding-left: 5px;
}

.action-icon {
    width: 33px;
    padding: 5px;
}

/* LINKS AND BUTTONS */
.action-icon-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.action-icon-btn:hover,
.action-icon-btn:focus {
    opacity: 0.6;
}


.post-info {
    margin-left: 15px;
}

.indent-right {
    margin-right: 3px;
}

.indent-bottom-8 {
    padding-bottom: 8px;
}

.indent-bottom-15 {
    padding-bottom: 15px;
}